@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
.titulosTamaño{
    font-size: $fuente-grande;
    font-family: $fuente-general;
    font-weight: map-get($map-grosores-fuente, regular );
}
.fuenteCuerpo{
    @extend .titulosTamaño;
    font-size: $fuente-texto;
}