.bglimon{
    background-image: url(../assets/img/limoneros.jpg);
}
.blanco50porciento{
    background: linear-gradient(0deg, rgba(255,255,255,0.9613095238095238) 0%, rgba(241,240,237,0.27503501400560226) 100%);
}
.bf4{
    backdrop-filter:blur(4px);
}
@media screen and (max-width:768px) {
    .bglimon{
        background-image: none;
    }
}