
@mixin mapCar ($top,$right) {
 margin-right: 59px;
 width: 460px;
 position: absolute;
 top: $top;
 right: $right;  
}
@mixin imagenIndex ($url) {
 background-image: $url ;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: right 0 center ;
}